SDKs/CocoaPods/Pods/Manifest.lock
SDKs/CocoaPods/Pods/Pods.xcodeproj/project.pbxproj
SDKs/CocoaPods/Pods/Pods.xcodeproj/xcuserdata/cda.xcuserdatad/xcschemes/Pods-LeChat.xcscheme
SDKs/CocoaPods/Pods/Target Support Files/Pods-LeChat/Pods-LeChat-acknowledgements.markdown
SDKs/CocoaPods/Pods/Target Support Files/Pods-LeChat/Pods-LeChat-acknowledgements.plist
SDKs/CocoaPods/Pods/Target Support Files/Pods-LeChat/Pods-LeChat-dummy.m
SDKs/CocoaPods/Pods/Target Support Files/Pods-LeChat/Pods-LeChat-frameworks.sh
SDKs/CocoaPods/Pods/Target Support Files/Pods-LeChat/Pods-LeChat-resources.sh
SDKs/CocoaPods/Pods/Target Support Files/Pods-LeChat/Pods-LeChat.debug.xcconfig
SDKs/CocoaPods/Pods/Target Support Files/Pods-LeChat/Pods-LeChat.release.xcconfig
